@import url("https://fonts.googleapis.com/css2?family=Acme&family=Permanent+Marker&family=Poppins:wght@500;700&display=swap");

:root {
  --primary-color: #175b7d;
  --secondary-color: #a8a8a8;
  --warning-color: #f7ec59;
  --danger-color: #8e3b46;
  --accent-color: #3e442b;
  --bg-color: hsl(55, 100%, 85%);
}
h1,
h3,
h4,
h5 {
  font-family: "Acme", cursive;
}
h2 {
  font-family: "Acme", cursive;
  margin: 0;
}
.logo {
  width: 200px;
}
body {
  background-color: var(--bg-color);
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a {
  text-align: center;
  color: var(--secondary-color);
  text-decoration: none;
  padding: 35px;
}
nav a:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
#hero-msg h1 {
  text-align: center;
}
#hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
#background {
  height: 725px;
  background-color: var(--accent-color);
}

header {
  background-color: #fff;
}

.book {
  background-color: rgba(200, 200, 200, 0.3);
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
.join {
  background-color: rgba(200, 200, 200, 0.3);
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.join:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
.msg {
  background-color: rgba(130, 190, 255, 0.4);
  line-height: 1.5rem;
  padding: 35px;
}
.msg h2 {
  color: var(--primary-color);
  font-family: "Permanent Marker", cursive;
}
.msg p {
  color: var(--accent-color);
  font-size: 0.8rem;
  padding-bottom: 15px;
}
footer {
  background-color: rgba(27, 137, 255, 0.4);
  color: var(--primary-color);
  padding: 25px 50px;
  margin-top: 200px;
}
footer a {
  text-decoration: none;
  color: var(--primary-color);
}
footer a:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
footer p {
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
}
.home-title {
  color: var(--primary-color);
  font-family: "Permanent Marker", cursive;
  font-size: 2em;
  margin-top: 10px;
}
h4 {
  color: var(--secondary-color);
}
.icon {
  width: 80px;
  padding-top: 10px;
}
#hero-img {
  width: 100%;
}
#logo_link {
  padding-top: 5px;
}
footer .social img {
  padding-top: 15px;
}
.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}
.card-img {
  border: 10px solid black;
}
main section img {
  box-sizing: border-box;
}
