:root {
  /* change the values below to your colors from your palette */
  --primary-color: #083d77;
  --secondary-color: #6ca6c1;
  --neutral-color: #f7fff7;
  --accent1-color: #ee964b;
  --accent2-color: #f95738;

  /* change the values below to your chosen font(s) */
  --heading-font: "Russo One";
  --paragraph-font: "Roboto Mono", Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396e94; /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: #396e94; /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: #396e94;
  --nav-link-color: #396e94;
  --nav-background-color: #d4ac0d;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396e94;
}

/*  Look around below...but DON'T CHANGE ANYTHING! */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Russo One";
}
p {
  font-family: "Roboto Mono";
}
img {
  border-radius: 2rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5rem;
  background-color: var(--nav-background-color);
}
header img {
  width: 100px;
  margin-left: 3rem;
}
header nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  text-transform: uppercase;
}
header nav a {
  text-decoration-line: none;
  font-size: 2rem;
  padding: 1rem;
  color: white;
  transition: all 1s ease-out;
}
header nav a:hover {
  background-color: var(--nav-hover-background-color);
  padding: 1rem;
  border-radius: 1rem;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-background-color);
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
}
footer a {
  color: white;
  text-decoration-line: none;
}
.social {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.social img {
  width: 50px;
}

#part1 {
  background-color: var(--secondary-color);
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
#part1 p {
  margin: 2rem 0;
}
#part1 img {
  width: 500px;
  display: block;
}
#part2 {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
#part2 p {
  margin: 2rem 0;
}
#part2 img {
  width: 500px;
  display: block;
}
section {
  padding: 0 2rem;
}
